
<div class="jumbotron">
	<h1>Welcome to CurbShop! <small> Boston's September 1st App </small></h1>
	<p><%= link_to 'Go CurbShopping', shopping_path %> </p> 
	<p><%= link_to 'Put items on your Curb', new_path %></p>
	<p><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></p> 
</div>

<h3>What is CurbShop? </h3>
<p>CurbShop is a marketplace for users to buy and sell used furniture. On CurbShop, users can either go CurbShopping--view and bid on furniture that is for sale in their area, or put items on their Curb--put their items up for sale on CurbShop. </p>

<h3>How it works </h3>
<h4>Selling</h4>
<p>Once you have put an item on your curb, CurbShoppers will have until the end of the day to bid on your item. If your item receives a bid by the end of the day, the item will be removed from the shopping page and the highest bidder's email address will be accessible to you on your 'My Curb' page. If your item does not receive a bid, it will remain on the shopping page until it receives a bid. </p>
<h4>Buying</h4>
<p>Once you have bid on an item on the shopping page, you can view the status of your bid on your My Curb page. If you are the highest bidder of an item by the end of the day, the owner of the item's email address will be accessible on your My Curb page. </p>
